<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPlayerManager" />
                <binding name="NetTcpBinding_IRankingManager" />
                <binding name="NetTcpBinding_IChatManager" />
                <binding name="NetTcpBinding_IMatchmakingManager" />
                <binding name="NetTcpBinding_IBanManager" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IBanManager" contract="MainService.IBanManager"
                name="NetTcpBinding_IBanManager">
                <identity>
                    <userPrincipalName value="DESKTOP-GL5VFUC\parke" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPlayerManager" contract="MainService.IPlayerManager"
                name="NetTcpBinding_IPlayerManager">
                <identity>
                    <userPrincipalName value="DESKTOP-GL5VFUC\parke" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IRankingManager" contract="MainService.IRankingManager"
                name="NetTcpBinding_IRankingManager">
                <identity>
                    <userPrincipalName value="DESKTOP-GL5VFUC\parke" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChatManager" contract="MainService.IChatManager"
                name="NetTcpBinding_IChatManager">
                <identity>
                    <userPrincipalName value="DESKTOP-GL5VFUC\parke" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMatchmakingManager" contract="MainService.IMatchmakingManager"
                name="NetTcpBinding_IMatchmakingManager">
                <identity>
                    <userPrincipalName value="DESKTOP-GL5VFUC\parke" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>