<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPlayerManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IRankingManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IBanManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPlayerManager" contract="MainService.IPlayerManager"
                name="NetTcpBinding_IPlayerManager">
                <identity>
                    <userPrincipalName value="LAPTOP-B65PT5K5\delma" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IRankingManager" contract="MainService.IRankingManager"
                name="NetTcpBinding_IRankingManager">
                <identity>
                    <userPrincipalName value="LAPTOP-B65PT5K5\delma" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IBanManager" contract="MainService.IBanManager"
                name="NetTcpBinding_IBanManager">
                <identity>
                    <userPrincipalName value="LAPTOP-B65PT5K5\delma" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/Contratos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGameManager" contract="MainService.IGameManager"
                name="NetTcpBinding_IGameManager">
                <identity>
                    <userPrincipalName value="LAPTOP-B65PT5K5\delma" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>